;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.1"]
  [metosin/reitit "0.7.2"]]

 :dev-http
 {8020 "public"}

 :builds
 {:frontend
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"

   :modules
   {:main ; becomes public/js/main.js
    {:init-fn free-retro-two.frontend.app/init}}}}}
